.b-contact {
  display: flex;
}

.gif {
  width: 500px;
  height: 500px;
  margin-left: 100px;
}
.reach-txt {
  font-family: "Courier New", Courier, monospace;
  padding: 100px;

  height: 0px;
  padding-bottom: 8px;
}
.outer-container {
  width: 100%;
}
.reachme-container {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.rocket {
  width: 300px;
  height: 300px;
  padding: 0px;
  margin-left: 40px;
}
.bb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 50px;
}
.twitter-icons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  color: skyblue;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.instagram-icons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  color: red;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.linked-icons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  color: blue;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.git-icons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  color: gray;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.snap-icons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  cursor: pointer;
  border-radius: 10px;
}
.snap-c {
  border: 2px solid yellow;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.twitter {
  width: 20px;
  height: 20px;
}
